.vscode/
**.DS_Store
.bashrc
.glide/
.env.*

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
**.ps1
**.sh
**.webp

/front/node_modules/
front/dist

**/generate_**.py
YAFDS.postman**.json
user.md+
.idea
user.md
send_requests**
requirements.txt
**/nul
windows/
scripts/

make_nice_sql_html.py

# Python virtual environments
.venv-yafds/
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/